@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

*
{
    text-align: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand a
{
    font-family: 'Ubuntu', sans-serif;
    color: green;
}

nav
{
    margin: 0;
    background-color: #e5dcb0;
    
}

.Title .Container
{
    margin: 0 300px;
}

.h1, h2
{
    font-family: 'Montserrat', sans-serif;
}

#FindFrogs
{
    font-size: 5rem;
    text-align: left;
    margin: 3rem 0 3rem;
}

.col-md-6 > h2:nth-child(2)
{
    text-align: left;
    font-size: 3rem;
    width: 100%;
    margin: 3rem 0 5rem;
}


.Title
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 10rem;
    background-color: #e5dcb0;
    color: #9f2f0d;
    margin: 0;
    padding: 0;
    
}

.Title h2
{
    color: #161611;
    margin-bottom: 10px;
}


.Title img
{
    text-align: center;
    max-width: 50%;
    border-radius: 30px;
    margin: 150px 50px 150px;
    
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
    
    transform: rotate(45deg);
}

.title2 .col-md-6
{
    
    margin: 0 0 0;
}

Title > .col-md-5
{
    text-align: center;
}

 Title >.col-md-6
{
    font-weight: bold;
    text-align: left;
    max-width: 100rem;
    margin: 0 0 0 300px;
}
 
Title > .title2
{
    padding: 3% 5%;
}

Title > .my-4
{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

 .my-4 .btn
{
    font-size: 35px;
    margin: 5% 5%;
    text-align: center;
}

Title > .row
{
    margin-top: 100px;
}

#features
{
    margin: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 #features .Container h3
{
     padding: 0 0 5px;
     font-weight: bolder;
    font-size: 1.5rem;
     color: #9f2f0d
}
 #features i
 {
     font-size: 3rem;
     padding: 10px;
     color: #9f2f0d
 }
 

 #features p
 {
     text-align: center;
     max-width: 400px;
 }
 
 /*#9f2f0d*/
#features .Container
{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #424242;
    font-size: 1rem;
    margin: 10px;
    padding: 10px 1rem;
    border-radius: 30px;
    background-color: #e5dcb0;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

#testimonials
{
    margin: 5rem 0 0;

    background-color: #e1dab8;
}

#testimonials .carousel-inner
{
        padding: 3% 15%;
}

.testimonials-image
{
    width: 20%;
    border-radius: 13%;
    margin: 1%;
    
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

.testimonials-title
{
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
    color: #9f2f0d;
    font-style: italic;
    
    margin-bottom: 5rem;
    
    font-weight: bold;
}

.testimonials-text
{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: #161611;
    font-style: italic;
    
    margin-bottom: 2rem;
    
    font-weight: unset;
}

.testimonials-name
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#press
{
    padding: 0 15% 1%;
    background-color: #e1dab8;
}

.press-logo
{
    width: 8%;
    margin: 3rem;
}

#pricing
{
    
}

#pricing .row
{
    align-content: space-evenly;
    justify-content: center;
    padding: 1rem 15rem;
}

.card-header
{
    background-color: #9f2f0d;
    
    color: white;
    font-weight: bold;
}

.card
{
   padding: 0;
    margin: 3rem;
    
    background-color: #e1dab8;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

